@using LocalChat.Repository.Models
@model IEnumerable<UserListItemModel> 

<a href="/User/Create" class="btn btn-primary float-end">Створити</a>

<h1>Користувачі</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Повне ім'я</th>  
            <th>Email</th>
            <th>Ролі</th>  
            <th>Підтверджено</th>  
            <th>Дії</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)  
        {
            <tr>
                <td>@user.FullName</td>  
                <td>@user.Email</td>  
                <td>@string.Join(", ", user.Roles.Select(r => r.Name))</td>  
                <td>
                    
                    <a href="@Url.Action("Details", "User", new { id = user.Id })">Деталі</a>  
                    <a href="@Url.Action("Edit", "User", new { id = user.Id })">Редагувати</a>  
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })">Видалити</a>
                    <a href="@Url.Action("Create", "Message", new { id = user.Id })">Написати</a>
                </td>
            </tr>
        }
    </tbody>

</table>
