@model IEnumerable<LocalChat.Core.Entities.ChatRoom>


@if (Model == null && !Model.Any())
{
    <p>No messages found.</p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Text</th>
                <th>Send Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Messages</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
