@using System.Security.Claims
@using LocalChat.Core.Entities
@model IEnumerable<LocalChat.Core.Entities.Message>

@{
    ViewData["Title"] = "Чат";
}

<h1>Чат</h1>

<!-- Button to add a new message -->
<a href="@Url.Action("Index", "ChatRoom")" class="btn btn-primary">Додати нове повідомлення</a>

@if (Model == null || !Model.Any())
{
    <p>Немає повідомлень для відображення.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Від кого повідомлення</th>
                <th>Час надісланого повідомлення</th>
                <th>Текст</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>
                        @if (message.SenderId == null)
                        {
                            @:Невідомо
                        }
                        else
                        {
                            @message.SenderId
                        }
                    </td>
                    <td>
                        @if (message.SendTime == null)
                        {
                            @:Невідомо
                        }
                        else
                        {
                            @message.SendTime
                        }
                    </td>
                    <td>
                        @message.Text
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

    <footer>
        <form asp-controller="Message" asp-action="Create">
            <input type="hidden" name="ChatRoomId" value="@ViewData["ChatRoomId"]" />
            <input type="hidden" name="SenderId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
            <input type="text" disabled name="ChatRoomId" value="@ViewData["ChatRoomId"]" />

            <div class="form-group">
                <label for="Text">Текст повідомлення:</label>
                <input type="text" class="form-control" name="Text" />
            </div>
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </form>
    </footer>

}
