@using LocalChat.Core.Entities
@inject LocalChat.Repository.Services.IUserService UserService
@model IEnumerable<Post>
<a href="/Posts/Create" class="btn btn-primary">Create post<a/>
	<table>
		<thead>
			<th>Title</th>
			<th>Photo</th>
			<th>Text</th>
			<th>Likes</th>
			<th>User</th>
			<th>Date when was posted</th>
			<th>Discussion</th>

		</thead>
		<tbody>
			@foreach(var post in Model)
			{
				<tr>
					<td>@post.Title</td>
					<td><img class="card-img-top p-1" src="@post.ImagePath" alt="Фото поста"/></td>
					<td>@post.Text</td>
					<td>@post.Likes</td>
					<td>@UserService.GetUserNameById(post.SenderId)</td>
					<td>@post.CreateDateTime</td>
					<td><a href="/Posts/Discussion/@post.Id">View discussion</a></td>
				</tr>
		    }
		</tbody>
	</table>